#grid {
    display: flex;
    background-color: #ffffff;
}

.column {  
    border-left: 1px dashed black;
    border-bottom: 1px dashed black;
    box-sizing: border-box;
    padding: 20px;
}

.column:first-child {
    border-top: 3px solid black;
}

.column:last-child {
    border-bottom: 3px solid black;
}

.row:first-child > .column {
    border-left: 3px solid black;
}

.row:last-child {
    border-right: 3px solid black;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
    pointer-events: auto;
    display: none;
}