@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

#grid {
    display: flex;
    background-color: #ffffff;
}

.column {  
    border-left: 1px dashed black;
    border-bottom: 1px dashed black;
    box-sizing: border-box;
    padding: 20px;
}

.column:first-child {
    border-top: 3px solid black;
}

.column:last-child {
    border-bottom: 3px solid black;
}

.row:first-child > .column {
    border-left: 3px solid black;
}

.row:last-child {
    border-right: 3px solid black;
}

#opening_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 1; 
    pointer-events: auto;
}    
    
    #opening_overlay > div {
        position: relative;
        top: 20%;
        margin: auto;
        width: 250px;
        height: 250px;
        border: 3px solid black;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #eeeeee;
        font-family: Lato, sans-serif;
    }

    #opening_overlay p,
    #opening_overlay button {
        font-size: 25px;
    }

    #opening_overlay button {
        background-color: #27b498;
        color: #ffffff;
        border: 3px solid black;
    }

    #opening_overlay button:hover {
        background-color: #fac60c;
        color: #000000;
    }

    #opening_overlay div div {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

#closing_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 9999; 
    pointer-events: auto;
    display: none;
}